<html>
    <head>
    </head>
    <body class="top_body">
        <h1>ようこそ　Bookers へ！</h1>
        <p class="top">
             <strong>bookers</strong>
               では、さまざまな書類に関するあなたの意見や
        </p class="top">
        <p class="top">印象を共有し交換することができます</p>
        <p class="top">
             <a>
                 <%= link_to "start",books_path %>
             </a>
        </p>
    </body>
</html>